body {
    font-family: 'Arial', sans-serif;
    background-color: #30363d;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center ;
  }
   
  .login-container {
    justify-content: center;
    border: 2px solid rgba(255, 255, 255, .2);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 360px;
    row-gap: 10px;
    margin-left: 37vw;
  }
   
  .form-group {
    margin-bottom: 15px;
  }
   
  label {
    display: block;
    margin-bottom: 5px;
  }
   
  input {
    width: 93%;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 5px;
    background-color: #30363d;
    color: white;
  }
   
  input :placeholder-shown {
    color: white;
  }
   
  button {
    width: 100%;
    padding: 10px 20px;
    background-color: white;
    border: none;
    color: #000;
    border-radius: 3px;
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, .2);
  }
   
  button:hover {
    background-color: #c6e0fe;  
  }
   
  h1 {
    margin-top: 0;
  }
   
  .Text {
    text-align: center;
    margin-bottom: 60px;
    font-family: 'bahnschrift', sans-serif;
    font-weight: 100;
    width: 100%;
  }
   
  .DNB {
    font-size: 50px;
  }